<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extend</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/header.css">
    <!--Google Api-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">          
    <script defer src="/js/header.js"></script>
    <script defer src="/js/alert.js"></script>
</head>
<body>
<header th:if="${loggedIn}">
    <header th:include="/fragments/header-after.html"></header>
</header>
<header th:unless="${loggedIn}">
    <header th:include="/fragments/header-before.html"></header>
</header>
    <div class="wrap_mainframe">
        <div class="mainframe">
            <div class="today_alert">
                <div class="alert_title">
                    오늘 받은 알림
                </div>
                <div class="alert_main">
                    <div class="alert_div">
                        <div class="alert_top">
                            <img src="/img_source/Extend.png" alt="" class="alert_profile_pic">
                            <div class="alert_name">
                                Extend
                            </div>
                            <div class="alert_time">
                                5분전
                            </div>
                            <div class="alert_delete" onclick="deleting(event)">
                               <span class="material-icons">delete</span>
                            </div>
                        </div>
                        <div class="alert_body">
                            게시글이 등록되었습니다.
                        </div>
                    </div>
                    <div class="alert_div">
                        <div class="alert_top">
                            <img src="/img_source/Extend.png" alt="" class="alert_profile_pic">
                            <div class="alert_name">
                                Extend
                            </div>
                            <div class="alert_time">
                                2시간전
                            </div>
                            <div class="alert_delete" onclick="deleting(event)">
                               <span class="material-icons">delete</span>
                            </div>
                        </div>
                        <div class="alert_body">
                            게시글이 등록되었습니다.
                        </div>
                    </div>
                    <div class="alert_div">
                        <div class="alert_top">
                            <img src="/img_source/Extend.png" alt="" class="alert_profile_pic">
                            <div class="alert_name">
                                Extend
                            </div>
                            <div class="alert_time">
                                1일전
                            </div>
                            <div class="alert_delete" onclick="deleting(event)">
                               <span class="material-icons">delete</span>
                            </div>
                        </div>
                        <div class="alert_body">
                            게시글이 등록되었습니다.
                        </div>
                    </div>
                    <div class="alert_div">
                        <div class="alert_top">
                            <img src="/img_source/Extend.png" alt="" class="alert_profile_pic">
                            <div class="alert_name">
                                Extend
                            </div>
                            <div class="alert_time">
                                3일전
                            </div>
                            <div class="alert_delete" onclick="deleting(event)">
                               <span class="material-icons">delete</span>
                            </div>
                        </div>
                        <div class="alert_body">
                            게시글이 등록되었습니다.
                        </div>
                    </div>
                    <div class="alert_div">
                        <div class="alert_top">
                            <img src="/img_source/Extend.png" alt="" class="alert_profile_pic">
                            <div class="alert_name">
                                Extend
                            </div>
                            <div class="alert_time">
                                6일전
                            </div>
                            <div class="alert_delete" onclick="deleting(event)">
                               <span class="material-icons">delete</span>
                            </div>
                        </div>
                        <div class="alert_body">
                            회원가입이 완료되었습니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="previous_alert">
                <div class="alert_title">
                    이전 알림
                </div>
                <div class="alert_main">

                </div>
            </div>
            <div class="layer_toast hide" id="layer_toast">
                <div class="layer_toast_inner" id="layer_toast_inner">
                    <p class="message">알림이 삭제되었습니다.</p>
                </div>
            </div>
        </div>
    </div>
<footer th:include="/fragments/footer.html"></footer>
</body>
</html>