<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Extend</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/board_collection.css">
  <link rel="stylesheet" href="/css/header.css">
  <script defer src="/js/main.js"></script>
  <!--Google Api-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
        rel="stylesheet">
</head>
<body>
<header th:if="${loggedIn}">
    <header th:include="/fragments/header-after.html"></header>
</header>
<header th:unless="${loggedIn}">
    <header th:include="/fragments/header-before.html"></header>
</header>
  <div class="wrap_mainframe">
    <div class="mainframe">
      <div class="firstdivision">
          <div class="boardblock">
              <div class="board_base">
                  <div class="board_header">
                      <div class="title" id="school_announcement">
                          자유게시판
                      </div>
                      <a href="/board/free_board" class="more">
                          더보기
                      </a>
                  </div>
                  <!-- 자유 게시판의 최근 게시글 7개를 반복하여 표시 -->
                  <div class="board_content" th:each="board : ${recentFreeBoards}">
                      <div class="board_post" th:text="${board.title}"></div>
                      <div class="post_time" th:text="${board.formattedFinalDate}"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="seconddivision">
          <div class="boardblock">
              <div class="board_base">
                  <div class="board_header">
                      <div class="title" id="school_announcement">
                          질문, 답변게시판
                      </div>
                      <a href="/board/qna_board" class="more">
                          더보기
                      </a>
                  </div>
                  <!-- QnA 게시판의 최근 게시글 7개를 반복하여 표시 -->
                  <div class="board_content" th:each="board : ${recentQnaBoards}">
                      <div class="board_post" th:text="${board.title}"></div>
                      <div class="post_time" th:text="${board.formattedFinalDate}"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="thirddivision">
          <div class="boardblock">
              <div class="board_base">
                  <div class="board_header">
                      <div class="title" id="school_announcement">
                          장터게시판
                      </div>
                      <a href="/board/market_board" class="more">
                          더보기
                      </a>
                  </div>
                  <!-- 장터 게시판의 최근 게시글 4개를 반복하여 표시 -->
                  <div class="board_content" th:each="board : ${recentMarketBoards}">
                      <div class="board_post" th:text="${board.title}"></div>
                      <div class="post_time" th:text="${board.formattedFinalDate}"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
<footer th:include="/fragments/footer.html"></footer>
</body>
</html>