<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"rel="stylesheet">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <script defer src="/js/header.js"></script>
</head>
<body>
    <header>
        <div class="inner">
            <ul class="main-menu">
                <div class="blank"> <!--정렬때문에 넣은 빈공간-->
                    <a href="/" class="homebutton"><span class="material-icons-outlined">home</span></a>
                </div>
                <ul class="wrap_category">
                    <li class="main_category_mypage">
                        <a href="/mypage/mypage_main" class="main_category_name">
                            마이페이지
                        </a>
                        <div class="sub_category_mypage hide">
                            <div class="wrap_sub_category_mypage">
                                <a href="/personal_info/personal_info_change" class="sub_menu_content">개인정보관리</a>
                                <a href="javascript:void(0)" class="sub_menu_content">수강과목</a>
                                <a href="/mypage/schedule" class="sub_menu_content">시간표</a>
                                <a href="javascript:void(0)" class="sub_menu_content">즐겨찾기</a>
                            </div>
                        </div>
                    </li>
                    <li class="main_category">
                        <a href="/board/notice" class="main_category_name">
                            공지사항
                        </a>
                    </li>
                    <li class="main_category_community">
                        <a href="/board/board_collection" class="main_category_name">
                            커뮤니티
                        </a>
                        <div class="sub_category_community hide">
                            <div class="wrap_sub_category_community">
                                <a href="/board/FREE" class="sub_menu_content">자유게시판</a>
                                <a href="/board/QNA" class="sub_menu_content">질문, 답변게시판</a>
                                <a href="/board/MARKET" class="sub_menu_content">장터게시판</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="wrap_othermain">
                    <div class="search">
                        <input type="text" />
                        <span class="material-icons">search</span>
                    </div>
                    <a href="/mypage/alert" class="notification">
                        <span class="material-icons-outlined">notifications</span>
                    </a>
                    <li class="main_category">
                        <a href="/mypage/mypage_main" class="main_category_name">
                            <div class="profile">
                                <img src="/img_source/anonymous.png" alt="사진" class="profile_pic_alter">
                                <div class="user_nickname">
                                    최환규
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </header>
</body>
</html>