<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extend</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link th:href="@{/css/info_input.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script defer th:src="@{/js/password_confirm.js}"></script>
    <!--Google Api-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<!--<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->
<!--    <ul>-->
<!--        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>-->
<!--    </ul>-->
<!--</div>-->
<div class="wrap_mainframe">
    <div class="mainframe">
        <form th:action="@{/register/info_input/signup}" method="post" th:object="${member}" id="input_form">
            <div class="content_div">
                <div class="important_info">
                    <span class="text">아이디</span>
                    <input type="text" maxlength="20" class="input" th:field="*{loginId}">
                    <span class="text">비밀번호</span>
                    <input type="password" maxlength="20" class="input" id="pwd" th:field="*{password}">
                    <span class="text">비밀번호확인</span>
                    <span class="text" id="not"style="color:red;">비밀번호가 일치하지 않습니다.</span>
                    <input type="password" maxlength="20" class="input" id="pwd_re">
                </div>
                <div class="other_info">
                    <span class="text">이름</span>
                    <input type="text" maxlength="10" class="input" th:field="*{name}">
                    <span class="text">이메일</span>
                    <input type="email" maxlength="255" class="input" th:field="*{email}">
                </div>
                <input type="submit" class="register" value="회원가입" pattern=".+@bestcnd\.com" disabled="">
            </div>
        </form>
    </div>
</div>
</body>
</html>