<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extend</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/info_change.css">
    <link rel="stylesheet" href="/css/header.css">
    <!--Google Api-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">          
    <script defer src="/js/calendar.js"></script>
    <script defer src="/js/header.js"></script>
</head>
<body>
<header th:if="${loggedIn}">
    <header th:include="/fragments/header-after.html"></header>
</header>
<header th:unless="${loggedIn}">
    <header th:include="/fragments/header-before.html"></header>
</header>
    <div class="wrap_mainframe">
        <div class="mainframe">
            <div class="wrap_content">
                <div class="profile_div">
                    <div class="profile_title">
                        <h1 class="title">내 정보</h1>
                        <div class="wrapping_logout">
                            <a href="/logout" class="logout">로그아웃</a>
                        </div>
                    </div>
                    <div class="profile_content">
                        <img src="/img_source/anonymous.png" class="profile_pic">
    
                        </img>
                        <div class="profile_inner">
                            <div class="id" th:text="${loggedInMember.loginId}">
                                hwan123
                            </div>
                            <div class="name_nickname">
                                <span th:text="${loggedInMember.name}">최환규</span>
                                /
                                <span th:text="${loggedInMember.studentId}">201804077</span>
                            </div>
                            <div class="school_info" th:text="${loggedInMember.schoolName}">
                                서일대 18학번
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account">
                    <div class="title">
                        계정
                    </div>
                    <a href="/personal_info/certification" class="account_content_div">
                        학교 인증
                    </a>
                    <a href="/personal_info/pwd_change" class="account_content_div">
                        비밀번호 변경
                    </a>
                    <a href="/personal_info/email_change" class="account_content_div">
                        이메일 변경
                    </a>
                </div>
                <div class="account">
                    <div class="title">
                        커뮤니티
                    </div>
                    <a href="/personal_info/nickname" class="account_content_div">
                        닉네임 설정
                    </a>
                    <a href="/personal_info/restrict" class="account_content_div">
                        이용 제한 내역
                    </a>
                    <a href="/personal_info/board_maintain" class="account_content_div">
                        게시판 관리
                    </a>
                    <a href="/personal_info/rules" class="account_content_div">
                        커뮤니티 이용규칙
                    </a>
                </div>
                <div class="account">
                    <div class="title">
                        이용 안내
                    </div>
                    <a href="javascript:void(0)" class="account_content_div">
                        문의하기
                    </a>
                    <a href="/board/notice" class="account_content_div">
                        공지사항
                    </a>
                    <a href="/personal_info/serviceagreement" class="account_content_div">
                        서비스 이용약관
                    </a>
                    <a href="/personal_info/privacy" class="account_content_div">
                        개인정보 처리방침
                    </a>
                    <a href="/personal_info/youthpolicy" class="account_content_div">
                        청소년 보호 정책
                    </a>
                </div>
                <div class="account">
                    <div class="title">
                        기타
                    </div>
                    <a href="/personal_info/adagreement" class="account_content_div">
                        정보 동의 설정
                    </a>
                    <a href="/personal_info/withdraw" class="account_content_div">
                        회원 탈퇴
                    </a>
                </div>
            </div>
        </div>
    </div>
<footer th:include="/fragments/footer.html"></footer>
</body>
</html>