<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
    <div class="footinner">
        <div class="footcategory">
            <a href="./serviceagree.html">이용약관</a>
            <a href="../static/html/personal_info/privacy.html" style="font-weight:bolder">개인정보처리방침</a>
            <a href="../static/html/personal_info/youthpolicy.html">청소년보호정책</a>
            <a href="../static/html/personal_info/rules.html">커뮤니티이용규칙</a>
            <a href="./inquire.html">문의사항</a>
            <span class="copyright" style="font-weight:bolder">© Extend</span>
        </div>
        <div class="developer_div">
            Web Developed by <span class="developer">정진호,최유리,최환규</span>
            App Developed by <span class="developer">이재용</span>
            Special thanks <span class="specialthanks">윤재민</span>
        </div>
    </div>
</footer>
</body>
</html>