<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (생략) ... -->
</head>
<body>
<div class="wrap_mainframe">
    <div class="mainframe">
        <form th:action="@{/signup/info_input}" method="post" th:object="${member}">
            <div class="content_div">
                <div class="important_info">
                    <span class="text">아이디</span>
                    <input type="text" maxlength="20" class="input" th:field="*{loginId}">
                    <span class="text">비밀번호</span>
                    <input type="password" maxlength="20" class="input" id="pwd" th:field="*{password}">
                    <span class="text">비밀번호확인</span>
                    <span class="text" id="not"style="color:red;">비밀번호가 일치하지 않습니다.</span>
                    <input type="password" maxlength="20" class="input" id="pwd_re">
                </div>
                <div class="other_info">
                    <span class="text">이름</span>
                    <input type="text" maxlength="10" class="input" th:field="*{name}">
                    <span class="text">생년월일</span>
                    <input type="date" class="input" th:field="*{birthDate}">
                    <span class="text">성별</span>
                    <select th:field="*{gender}" class="input">
                        <option disabled selected>성별 선택</option>
                        <option value="남">남</option>
                        <option value="여">여</option>
                        <option value="기타">기타</option>
                    </select>
                    <span class="text">이메일</span>
                    <input type="email" maxlength="255" class="input" th:field="*{email}">
                </div>
                <input type="submit" class="register" value="회원가입">
            </div>
        </form>
    </div>
</div>
</body>
</html>